.App {
  text-align: center;
  background-color: #9EE4D6;
}

.row {
  padding:10px;
}

.row-header{
  margin:0px auto;
  padding:0px auto;
}

.color{
  background-color: #9EE4D6;
}
.custom-modal-style {
  color: #9EE4D6
  }
